<% layout('layouts/boilerplate') %>

    <h1>
        <%= campground.title %>
    </h1>
    <h2>
        <%= campground.location %>
    </h2>

    <% if (campground.image) { %>
        <img src="<%= campground.image %>" alt="Image of <%= campground.title %>" style="width: 300px; height: auto;"
            class="img-fluid">
        <% } %>

            <% if (campground.price) { %>
                <p><strong>Price:</strong> $<%= campground.price %>/night</p>
                <% } %>

                    <p>
                        <%= campground.description %>
                    </p>

                    <p><a href="/campgrounds/<%= campground._id %>/edit">Edit</a></p>

                    <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                        <button>Delete</button>
                    </form>

                    <footer>
                        <a href="/campgrounds">ALL Campgrounds</a>
                    </footer>